<% if @using_pattern %>
  <%= link_to 'All specs', opal_spec_path %>
<% end %>

<h2>Running:</h2>
<ul>
  <% @spec_files.each do |spec_file| %>
    <li>
      <% spec_file = clean_spec_path(spec_file) %>
      <%= link_to spec_file, opal_spec_path(pattern: spec_file) %>
    </li>
  <% end %>
</ul>

<% if @rolled_up %>
	<%= javascript_include_tag opal_spec_path(pattern: @pattern), type: 'application/javascript' %>
<% else
		@assets.each do |asset| %>
			<%= javascript_include_tag asset, skip_opal_loader: true %>	
<%  end
	 end %>

<%# Boot! %>
<%= opal_tag @main_code %>
